.User {
  --blob-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  transition: 0.5s linear;
}
.userAvatar {
  width: var(--blob-size);
  height: var(--blob-size);
  margin-bottom: 0.5rem;
}
.userAvatar > svg {
  width: 100%;
  height: 100%;
}
span.userLabel {
  white-space: nowrap;
  line-height: 1.5;
  padding: 0 0.5rem;
}
.User[data-self=true] span.userLabel {
  background: rgba(186, 255, 255, 0.5);
}