.Title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -70%, 0);
  white-space: nowrap;
  font-family: var(--header-font);
  font-size: 5rem;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 1rem var(--med-theme-color), 0 0 2rem var(--med-theme-color);
}