.Scene {
  position: relative;
  width: 700px;
  height: 500px;
  overflow: visible;
  background: #c6ffe2 url('http://i.imgur.com/vHOyhhx.png') no-repeat;
  background-position: bottom center;
  background-size: auto 150%;
  border: 0.5rem solid #2F449C;
  border-radius: 2rem;
}
.Scene .map {
  position: absolute;
  z-index: 152;
  top: 5%;
  left: 50%;
  width: 90%;
  height: auto;
  transform: translate3d(-50%, 0, 0);
  image-rendering: pixelated
}