.Map {
  image-rendering: pixelated;
  position: relative;
  width: 100%;
  height: 100%;
}
.Map img {
  position: absolute;
  transform: scale(1.3);
  border: 0;
  visibility: hidden;
}
.Map img[src] {
  visibility: visible;
}