* {
  box-sizing: border-box;
  outline: none;
}
:root {
  --default-font: 'Helvetica', sans-serif;
  --header-font: 'Easy November', sans-serif;
  --mono-font: 'Carbon', 'Inconsolata', sans-serif;
  --dark-theme-color: #a646ff;
  --med-theme-color: #bc75ff;
  --light-theme-color: #e4c7ff;
  --med-theme-gradient: linear-gradient(135deg, var(--dark-theme-color), var(--light-theme-color));
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--mono-font);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before, body::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
body::after {
  z-index: -1;
  background: linear-gradient(135deg, #5cdcff, #ff8cff);
  opacity: 0.5;
}
body::before {
  z-index: -2;
  background: url('http://static.colourlovers.com/images/patterns/4233/4233889.png');
  filter: hue-rotate(40deg);
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input, button {
  font-family: var(--mono-font);
  border-radius: 999px;
}
input {
  border: 0;
  background: #f7f7f7;
  line-height: 2;
  padding: 0 0.5rem;
}
button {
  border: 0;
  background: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
button.btn {
  background: #5714C4;
  line-height: 2;
  padding: 0 1rem;
  color: #fff;
}
.collisionPoint {
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
  cursor: pointer;
  z-index: 99999;
}